<h1>Listing users</h1>

<p><%= will_paginate @users %></p>

<table>
  <tr>
    <th>Distributor</th>
    <th>Username</th>
    <th>Password</th>
    <th>Name first</th>
    <th>Name last</th>
    <th>Company</th>
    <th>Annual volume</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip code</th>
    <th>Phone office</th>
    <th>Phone cell</th>
    <th>Fax</th>
    <th>Website</th>
    <th>Last login</th>
    <th>Is admin</th>
    <th>Is active</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.distributor.name %></td>
    <td><%= user.username %></td>
    <td><%= user.password %></td>
    <td><%= user.logins %></td>
    <td><%= user.name_first %></td>
    <td><%= user.name_last %></td>
    <td><%= user.company %></td>
    <td><%= user.annual_volume %></td>
    <td><%= user.address %></td>
    <td><%= user.city %></td>
    <td><%= user.state %></td>
    <td><%= user.zip_code %></td>
    <td><%= user.phone_office %></td>
    <td><%= user.phone_cell %></td>
    <td><%= user.fax %></td>
    <td><%= user.website %></td>
    <td><%= user.last_login %></td>
    <td><%= user.is_admin %></td>
    <td><%= user.is_active %></td>
    <td><%= link_to 'Show', [@distributor, user] %> | <%= link_to 'Edit', [:edit, @distributor, user] %> | <%= link_to 'Destroy', [@distributor, user], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<p><%= will_paginate @users %></p>

<br />

<%= link_to 'New User', [:new, @distributor, :user] %>
