<!DOCTYPE html>
<html>
<head>
  <title>DSI Solutions</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%- if current_user -%>
    <ul id="main-navigation">
      <li>Welcome back, <%= current_user.name_first %></li>
      <li><%= link_to 'Distributors', distributors_path %></li>
      <li><%= link_to 'Pages', pages_path %></li>
      <li><%= link_to 'Sign Out', destroy_user_session_path %></li>
    </ul>
  <%- end -%>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
